/* @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
.Services_container{
    height: 800px;
    width: 90%;
    margin: auto auto;
    font-family: 'Alata', sans-serif;
} */
